

.main { 
    width: 100%;
}

.form-head {
    color: var(--primary);
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-label {
    font-size: 2rem;
    color: var(--primary);
}

.input-staff {
    border: none;
    border-bottom: 1px solid black;
    padding-top: 0.25rem;
    height: 30px;
    font-size: 1.6rem;
    color: rgb(114, 112, 112);

    &:focus {
        border-color: var(--primary);
    }
}

.submit-btn {
    cursor: pointer;
    align-self: flex-end;
    padding: 0.5rem;
    background-color: var(--primary);
    font-size: 2rem;
    border-radius: 8px;
    margin-right: 20px;

    &:hover {
        background-color: rgb(235, 140, 163);
    }
    
}

.submit-span {
    color: white;

}

.form-message {
    max-width: 100%;
    font-size: 0.75rem;
    color: rgb(63, 44, 146);
    font-size: 1.3rem;
}